*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code.iml
sequence.txt
HUD_Leap_Paper.out
HUD_Leap_Paper.pdf
HUD_Leap_Paper.log
HUD_Leap_Paper.aux
HUD_Leap_Paper.synctex.gz